<!DOCTYPE html>
<html>
  <head>
    <title>Express</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <div class="login">
      <div class="login-header">
        <h1>Dashboard</h1>
      </div>
      <a href="/logout">Logout</a>
    </div>
  </body>
</html>
